body {
            font-family: 'Inter', sans-serif;
            -webkit-font-smoothing: antialiased;
        }
        .subject-card-selected {
            border-color: #00288e !important;
            background-color: #eff4ff !important;
            box-shadow: 0px 4px 20px rgba(30, 64, 175, 0.12) !important;
        }
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }